<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый товаров</title>
</head>
<body>
    <h1>Новый товаров</h1>
    <a data-th-href="@{catalogue/products/list}">&lAarr; К списку товаров</a>
    <div data-th-if="${errors}">
        <h2>Ошибки валидации</h2>
        <ul>
            <li data-th-each="error: ${errors}" data-th-text="${errors}"></li>
        </ul>
    </div>
    <form method="post" data-th-action ="@{/catalogue/products/create}">
        <label>
            Название:<br/>
            <input type="text" name="title" data-th-value="${payload?.title}">
        </label><br/>
        <label>
            Описание:<br/>
            <textarea name="details" data-th-value="${payload?.details}"></textarea>
        </label>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>