<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наши товары &ndash; Сельмаг</title>
</head>
<body>
<h1> Наши товары </h1>
<form>
    <label>
        Фильтер
        <input type="text" name="filter" th:value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<ul>
    <li data-th-each="product : ${products}">
        <strong>
            <a th:text="${product.title}" data-th-href="@{/customer/product/{productId}(productId = ${product.id})}">product.name</a>
        </strong>
        <p th:text="${product.details}">product.details</p>

    </li>
</ul>
</body>